[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "*"
bunch = "*"
"psycopg2" = "*"
itsdangerous = "*"
sendgrid = "*"
bleach = "*"
"markdown2" = "*"
simplejson = "*"
pandas = "*"
gensim = "*"
python-dateutil = "*"
requests = {extras = ["security"]}
pytz = "*"
gevent = "*"
pytest = "*"
mock = "*"
pytest-cov = "*"
gunicorn = "*"
raven = {extras = ["flask"]}
Flask = "*"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "2.7"
