{%extends "base.html"%}
{%block body %}
<ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="{{url_for("admin.list_users")}}">List Users</a></li>
    <li role="presentation"><a href="{{url_for("admin.list_standards")}}">Edit Standards</a></li>
    <li role="presentation"><a href="{{url_for("admin.coc_reports")}}">Code of Conduct Risk Reports</a></li>
    <li role="presentation"><a href="{{url_for("admin.vote_distribution")}}">Vote Distribution</a></li>
</ul>
{%endblock body%}
