{%import "vote_display.html" as vd%}

{%macro proposal_render(proposal, anonymize=False, 
                        hidetimes=False) %}

      {% if not hidetimes %}
  <ul class="nav nav-tabs" role="tablist">
      {%for version in proposal.data_history%}
      <li class="{%if loop.first%} active{%endif%}"><a class="tab-button" href="#rev-{{loop.index0}}">{{version.when|date}}</a></li>
      {%endfor%}
  </ul>
    {% endif %}

  <div class="tab-content">
    {% for version in proposal.data_history%}
    <div class="tab-pane{%if loop.first%} active{%endif%}" id="rev-{{loop.index0}}">
        <h1>{{version.title}}</h1>
        <h3>Abstract</h3>
        <p>
        {{version.abstract|markdown}}
        </p>
        <h3>Description</h3>
        <p>
        {{version.description|markdown}}
        </p>
        <h3>Outline</h3>
        <p>
        <pre style="white-space:pre-wrap;border:0;background:none;">{{version.outline}}</pre>
        </p>
        {% if not anonymize %}
        <h3>Additional Notes</h3>
        <p>
        {{version.notes|markdown}}
        </p>
        {% endif %}
    </div>
{%endfor%}
  </div>
{%endmacro%}

{%macro btn_css(score, target) -%}
{% if score == target -%}
{% if target == -3 or target == -2 -%}
btn-danger
{% elif target == -1 -%}
btn-warning
{% elif target == 1 or target == 2 -%}
btn-success
{% else -%}
btn-info
{% endif -%}
{% else -%}
btn-default
{% endif -%}
{% endmacro %}

{%macro user_vote_render(standards, existing_vote)%}
        <div class="panel panel-primary" id="user-vote-block">
            <div class="panel-heading"
            data-content="These votes were loaded from your local browser cache, and are not yet saved." id="vote-panel">
                <h3 class="panel-title">Should this talk be in PyGotham?</h3>
            </div>
            <form method="POST" action="vote/" id="vote-form">
                  <table class="table">
                {% for s in standards %}
                <tr>
                    <td>
                        {% if existing_vote %}
                        {% set score = existing_vote.scores[s.id] %}
                        {% else %}
                        {% set score = None %}
                        {% endif %}
                        <button type="button" id="standard-id-{{s.id}}-plus-2"
                                class="btn score {{ btn_css(score, 2) }}"
                                data-val="2">I love this talk: I would change my schedule to see this talk at the conference</button>
                        <button type="button" id="standard-id-{{s.id}}-plus-1"
                                class="btn score {{ btn_css(score, 1) }}"
                                data-val="1">I like this talk: I would probably see it at the conference</button>
                        <button type="button" id="standard-id-{{s.id}}-zero"
                                class="btn score {{ btn_css(score, 0) }}"
                                data-val="0">I'm ambivalent</button>
                        <button type="button" id="standard-id-{{s.id}}-minus-1"
                                class="btn score {{ btn_css(score, -1) }}"
                                data-val="-1">I'd rather not: this talk is not interesting to me</button>
                        <button type="button" id="standard-id-{{s.id}}-minus-2"
                                class="btn score {{ btn_css(score, -2) }}"
                                data-val="-2">Definitely not: this talk has major technical issues or is not a complete proposal</button>
                        <button type="button" id="standard-id-{{s.id}}-minus-3"
                                class="btn score {{ btn_css(score, -3) }}"
                                data-val="-3">Definitely not: this talk may pose a code of conduct issue</button>
                        <input name="standard-{{s.id}}"
                            {%if existing_vote and existing_vote.scores %}
                               value="{{existing_vote.scores[s.id]}}"
                            {% else %}
                               value=""
                            {% endif %}
                        type="hidden">
                    </td>
                </tr>
                {% endfor %}
                <tr>
                  <td>
                    <p><strong>Additional feedback:</strong> (optional)</p>
                    <p>You may use this area to explain why you gave the score you did. <em id="explain-score">Please explain scores of "definitely not."</em></p>
                    <textarea id="feedback" name="feedback">{{existing_vote.feedback}}</textarea>
                    <p><em>Feedback will only be visible to the PyGotham program committee, not to the speaker nor other voters.</em></p>
                  </td>
                </tr>
                </table>
                <div class="panel-footer">
                    {% if existing_vote %}
                    <a href="/" class="btn btn-default btn-lg">Next Proposal &raquo;</a>
                    {% endif %}
                    <button type="Submit" class="btn btn-primary pull-right" id="save"
                        {% if not existing_vote %}
                            disabled="disabled"
                        {% endif %}
                        >Save Vote</button>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
{%endmacro%}

{%macro existing_vote_render(votes, standards) %}
<div class="panel panel-default" id="existing-votes-block">
    <div class="panel-heading">
        <h3 class="panel-title">Votes</h3>
    </div>
    <table class="table">
        <thead>
            <tr><th></th>
                {% for s in standards %}
                <th>{{s.id}}</th>
                {% endfor %}
                <th>N</th>
            </tr>
        </thead>
        <tbody>
            {% for v in votes %}
            <tr><td>{{v.display_name}}</td>
                {% for s in standards %}
                    <td>{{vd.vote_display(v.scores[s.id])}}</td>
                {% endfor %}
                <td>{% if v.nominate %}
                    <span class="glyphicon glyphicon-star"></span>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endmacro%}

{%macro discussion_render(unread, discussion) %}
<div class="panel panel-default" id="discussion-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Discussion</h3>
    </div>
    <ul class="list-group">
    {% for d in discussion %}
        <li class="list-group-item
                    {% if d.feedback %}list-group-item-danger
                    {% elif d.name %}list-group-item-success
                    {%else%}disabled{%endif%}" style="display:flex;justify-content:space-between">
            <div>
            {%if d.name%}Proposal Author{%else%}<strong>{{d.display_name}}</strong>{%endif%}
            {%if d.feedback%}<br><strong>To Author</strong>{%endif%}
            </div>
            <span style="order:1">{{d.created|date}}</span>
            {%if d.name%}<strong>From Author</strong>{%endif%}
        </li>
        <li class="list-group-item" style="overflow-wrap: break-word;word-wrap: break-word;">
            {{d.body}}
        </li>
    {% endfor %}
    </ul>
    
    {% if unread %}
    <div class="panel-body">

        <form action="mark_read/next/" method="POST">
        <div class="btn-group" role="group">
        <button id="mark-read" type="button" class="btn btn-danger">Mark Read</button>
            <input type="submit" class="btn btn-danger" value="Mark Read, Next Unread">
        </div>
        </form>
    </div>
    {% endif %}
    <div class="panel-body">
        <form method="POST" action="comment/" id="comment-form">
            <div class="form-group">
                <label for="comment">Add Comment</label>
                <textarea type="" class="form-control" id="comment" placeholder="Internal Comment" name="comment"></textarea>
                <p class="help-block">Please be both kind and succinct with your comments.</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endmacro %}
