{%extends "base.html"%}
{%block body %}
<p>This website is for voting on talk submissions for PyGotham 2018. Voting is open to the public,
and anyone who is interested in helping is encouraged to <a href="{{ url_for('new_user') }}">sign up</a>
for an account and lend a hand!
</p>
<form method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" 
            name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="pw">Password</label>
        <input type="password" class="form-control" id="pw"
            name="pw" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
    <a href="{{url_for('new_user')}}" class="btn btn-default" >Create Account</a>
    <a href="{{url_for('request_reset')}}" class="btn btn-default" >Get Login Email</a>
</form>
{%endblock body%}
