{%extends "base.html"%}
{%block body %}

<p>This website is for voting on talk submissions for PyGotham 2018. Voting is open to the public,
and anyone who is interested in helping is encouraged to sign up for an account (below) and lend a hand!
</p>
<p>Voting will begin on about May 24th. You can sign up now, but your account won't be activated until
the <a href="https://www.papercall.io/pygotham-2018">Call for Proposals</a> is complete, and all the
talks are imported here.
</p>
<form method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
            name="name" placeholder="Full Name">
    </div>
    <div class="form-group">
        <label for="pw">Password</label>
        <input type="password" class="form-control" id="pw"
            name="pw" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{%endblock body%}
