{%extends "base.html"%}
{%block body %}

<p>This website is for voting on talk submissions for PyGotham 2018. Voting is open to the public,
and anyone who is interested in helping is encouraged to sign up for an account (below) and lend a hand!
</p>
<form method="POST">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
            name="name" placeholder="Full Name">
    </div>
    <div class="form-group">
        <label for="pw">Password</label>
        <input type="password" class="form-control" id="pw"
            name="pw" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{%endblock body%}
